<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        id="WebApp_ID" version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>org.vironit.timoshuk.computershop.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/jsp/controller</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/WEB-INF/jsp/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>profile</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>main</servlet-name>
        <jsp-file>/WEB-INF/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>computers</servlet-name>
        <jsp-file>/WEB-INF/jsp/catalog/computers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>computers</servlet-name>
        <url-pattern>/computers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editinfo</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/changeUserData.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editinfo</servlet-name>
        <url-pattern>/editinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>comp_info</servlet-name>
        <jsp-file>/WEB-INF/jsp/catalog/view/computerInfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>comp_info</servlet-name>
        <url-pattern>/computer_info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cart</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/cart.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.vironit.timoshuk.computershop.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    
</web-app>
